@use "sass:map";
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Dancing+Script&display=swap');

$font-faces: (// add or remove font types
        'Light':('weight':$font-weight-light,'style':normal),
        'Regular':('weight':$font-weight-normal,'style':normal),
        'Bold':('weight':$font-weight-bold,'style':normal),
);

@each $name,$props in $font-faces{
  @font-face {
    font-family: $font-face-name;
    font-style: map.get($props,'style');
    font-weight: map.get($props,'weight');
    src: local('#{$font-face-name} #{$name}'),
    url('../fonts/#{$font-face-name}-#{$name}.ttf') format('truetype');
  }
}

.poiret-one{
  font-family: 'Poiret One', cursive;
}

.primary-heading {
  font-size: 5rem;
}

