/* Colors */
$primary_color_light: #78909C;
$primary_color_dark: #90A4AE;
$black_color: #263238;
$gray_color_light: #ECEFF1;
$gray_color_dark: #e2e2e2;
$white_color: #fff;
$red_color: #DF1919;

/* Font family */
$font-face-name: OpenSans;
$default-font-family: $font-face-name,'Open Sans', sans-serif;

/* Font weights */
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

/* Sizing */
$max-grid-width: 1440px;
$grid-gap: 40px;
$grid-columns: 12;
$grid-margin: 20px;
