nav.navbar.navbar-expand-lg.navbar-dark
    .navbar-brand
        img(src=require("../images/app-logo.png") height=50)
        a.text-decoration-none.text-white.ml-4(href="#") My Project Name
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Features
            li.nav-item
                a.nav-link(href="#") Services
            li.nav-item
                a.nav-link(href="#") FAQ


