extends templates/main

block metatags
    title Index

block content
    h1.text-info.text-uppercase.text-center.my-5 HTML Boilerplate
        i.fa.fa-pencil-square-o.text-danger.ml-3(aria-hidden=true)
    .d-block.text-center
        img(src=require('./images/html-css-js.jpg'),width=350)
        p.mt-2 Boilerplate tool  for working quickly
    footer.text-center.mt-5.font-weight-bold.text-monospace created by 2rhop
        i.fa.fa-address-book-o.text-danger.ml-3(aria-hidden=true)
